name: Scripts

on:
  push:
    branches:
      - main
  pull_request:

jobs:

  test-json-metadata:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - uses: astral-sh/setup-uv@v5

      - name: Install geospatial dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libproj-dev libgdal-dev

      - name: Run scripts
        run: |
          cd scripts
          uv run pytest test_json_schema.py -v
          uv run python generate_example.py
          uv run python update_example_schemas.py
          cd ../examples
          # Assert that the version number and file metadata are up to date
          # Allow for differences in example.parquet
          git restore example.parquet
          git diff
          test -z "$(git status --porcelain)"
