name: Scripts

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  validate-examples:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install validator
        run: |
          cd validator/python
          python -m pip install --no-binary geoparquet_validator .

      - name: Run validator
        run: |
          for example in $(ls examples/*.parquet); do
            echo $example;
            geoparquet_validator $example || exit 1;
          done
          for example in $(ls test_data/*.parquet); do
            echo $example;
            geoparquet_validator $example || exit 1;
          done


  test-json-metadata:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - uses: astral-sh/setup-uv@v5

      - name: Install geospatial dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libproj-dev libgdal-dev

      - name: Run scripts
        run: |
          cd scripts
          uv run pytest test_json_schema.py -v
          uv run python generate_example.py
          uv run python update_example_schemas.py
          cd ../examples
          # Assert that the version number and file metadata are up to date
          # Allow for differences in example.parquet
          git restore example.parquet
          git diff
          test -z "$(git status --porcelain)"
